.item {
    margin-top: -1em;
}


.item .header{
    padding: 5px 25px;
    position: sticky;
    top: 56px;
    z-index: 1234567;
}

.item .header h3{
    color: #50596c;
}

.item .card{
    width: 100%;
    margin: 0px 0px;
}

.item .card p a{
    color: #5755d9;
}

.comment-wrapper{
    margin-top: 5px;
}


@media only screen and (max-width: 892px) {

    .item .header h3{
        font-size: 1.7rem;
    }

    .comment-wrapper{
        margin-top: 15px;
    }
    
}