<div class="row">
  <div class="col m12 l12 s12">
    <div class="comment">
      <div class="tile">
        <div class="tile-icon">
          <i class="icon icon-more-horiz"></i>
        </div>
        <div class="tile-content">
          <p class="tile-title text-gray">
            <a [routerLink]="['/user', comment.by]">{{ comment.by }}</a>
            {{ comment.time | date: 'short' }}</p>
          <div class="tile-subtitle" [innerHtml]="comment.text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
