.comment { 
    position: relative; 
    padding-left: 2em;
    padding-right: 2em;
    border-top: 1px solid lightgrey;
}

.tile {
    padding: 1em 0 2em;
    padding-bottom: 0px;
    padding-top: 0px;
}

.comment a{
    color: #5755d9!important;
}

.tile-subtitle{
    text-align: justify;
}

.tile-subtitle a{
    color: #5755d9!important;
    
}